.header-container {
    display: flex;
    width: 88%;
    height: 80px;
    margin: 8px auto;
    justify-content: space-between;
    align-items: center;
}

.logo-holder {
    text-align: center;
    font-size: 19px;
}

.logo-holder h2 {
    font-size: 1.8em;
    font-family: italiana-regular;
    text-transform: uppercase;
}

.logo-holder span {
    font-family: 'Montserrat';
    font-size: 0.6em;
    text-transform: uppercase;
}
.header-nav-holder {
    background-color: white;
    font-size: 14px;
}

.header-nav-holder ul {
    display: flex;
    align-items: center;
}

.header-nav-holder li {
    display: inline-block;
    margin-left: 20px;
    text-transform: uppercase;
}

.nav-icons-container {
    display: flex;
    align-items: center;
}

.header-icon {
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.booknow {
    border: 2px solid #000;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
}

.header-nav-a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust underline position */
    width: 100%;
    height: 2px;
    background-color: currentColor; /* Matches text color */
    transform: scaleX(0); /* Initially hidden */
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.header-nav-a:hover::after {
    transform: scaleX(1); /* Expand underline smoothly */
}

.header-nav-a.instagram::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('/assets/instagram.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header-nav-a.facebook::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('/assets/facebook.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header-nav-a.email::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('/assets/mail.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.burger-menu {
    display: none;
}

